{
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "printWidth": 100,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.liquid",
      "options": {
        "parser": "liquid-html"
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "parser": "yaml"
      }
    },
    {
      "files": ["*.md", "*.markdown"],
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
